<div class="modal-header">
    <h4 class="modal-title text-left"><i class="fal fa-abacus modal-icon"></i>&nbsp;Добавление операции</h4>
</div>
<div class="modal-body">
    <div class="tabs-container">
        <form method="POST" action="/standartizer/structure/add/<%=id%>" id="standartizer-section__add_form">
            <div class="form-group">
                <label>Номер операции</label>
                <input type="number" min="0" value="0" name="num" required="required" />
                <span class="help-block">Например: <i>10</i></span>
            </div>

            <div class="form-group">
                <label>Наименование операции</label>
                <input type="text" value="" name="name" required="required" />
                <span class="help-block">Например: <i>Заготовка листового и прокатного металла</i></span>
            </div>

            <div class="form-group">
                <label>Средняя заработная плата</label>
                <input type="number" step="0.01" min="0" value="" name="average_payment" required="required">
                <span class="help-block">Например: <i>201.73</i></span>
            </div>

            <div class="form-group">
                <label>Длительность смены, час</label>
                <input type="number" step="1" min="0" max="24" value="" name="work_long" required="required">
                <span class="help-block">Например: <i>11</i></span>
            </div>

            <div class="form-group">
                <label>Родительская операция</label>
                <select name="parent" size="10" required="required" style="width: 100%;">
                    <option selected="selected" value="0">отсутствует</option>
                    <% for (let i in cats) { %>
                        <% if (cats[i].parent_id == 0) { %>
                            <%- include('cats_option', {items:cats, item:cats[i], add:'', num:cats[i].num+'.' }) %>
                        <% } %>
                    <% } %>
                </select>
            </div>

            <div class="form-group">
                <label>Предшествующая операция</label>
                <select name="prev_id" class="selectized_input_tpl form-control" required="required">
                    <option selected="selected" value="0">отсутствует</option>
                    <% for (let i in cats) { %>
                        <% if (cats[i].parent_id == 0) { %>
                            <%- include('cats_option', {items:cats, item:cats[i], add:''}) %>
                        <% } %>
                    <% } %>
                </select>
                <span class="help-block">Например: <i>3аготовка листового и прокатного металла</i></span>
            </div>

            <div class="form-group">
                <label>Производственный участок</label>
                <select name="worker_section_id" class="form-control" required="required">
                    <option selected="selected" value="0">отсутствует</option>
                    <% for (let i in secs) { %>
                    <option value="<%=secs[i].id%>"><%=secs[i].name%></option>
                    <% } %>
                </select>
            </div>

            <div class="form-group">
                <label>Дополнительные параметры</label>
                <div style="margin-top: 10px;">
                    <div class="switch-button-div"><input class="switch-button" name="parallel" type="checkbox" /> — параллельная операция</div>
                    <div class="switch-button-div"><input class="switch-button" name="otk" type="checkbox" /> — контроль ОТК</div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-right">
                    <a href="#" class="btn btn-white" rel="modal:close">Закрыть</a>
                    <button type="submit" class="btn btn-success">Добавить </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(function(){
        $('.selectized_input_tpl').select2();

        $('#standartizer-section__add_form').validate({
            submitHandler: function(form) {
                $(form).ajaxSubmit({
                    success: function(data) {
                        $.modal.close();
                        if (data.ok == true) {
                            swal({
                                title: "Отлично!",
                                text: "Новая операция добавлена!",
                                type: "success"
                            }, function () {
                                Tabs.refreshTab(Tabs._currentTabId());
                            });
                        } else {
                            swal("Опачки!", "Что-то пошло не так :)", "error");
                        }
                    }
                });
            },
            rules: {
                name: {
                    required: true,
                }
            }
        });
    });
</script>