<div class="row">
    <div class="col-7">
        <h1><a title="← назад к списку разделов" onclick="Tabs.sameTab('/ol/sections/<%=template.id%>');return false;" href="/ol/sections/<%=template.id%>" class="btn btn-sm btn-white btn-back"><i class="fas fa-arrow-alt-left"></i></a><%= title %></h1>
    </div>
    <div class="col-5 text-right">
        <div class="content_top__actions">
            <% if (access.includes('ol:addSpecs')) { %>
            
            <a href="/ol/specs/<%=template.id%>/<%=section.id%>/addgroup" rel="modal:open" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i>&nbsp;добавить группу</a>
            <a href="/ol/specs/<%=template.id%>/<%=section.id%>/add" rel="modal:open" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>&nbsp;добавить характеристику</a>
            <% } %>
        </div>
    </div>
</div>
<ul class="content_top__menu">
    <li class="active">Характеристики</li>
    <li><a onclick="Tabs.sameTab('/ol/specs/<%=template.id%>/<%=section.id%>/groups');return false;" href="/ol/specs/<%=template.id%>/<%=section.id%>/groups">Группы</a></li>
</ul>
<div class="content_top__data">
    <table class="table table-striped table-hover table-draggable">
        <thead>
            <tr>
                <th width="60" class="text-center">№ </th>
                <% if (access.includes('ol:editSpecs')) { %>
                <th width="30" class="text-center"></th>
                <% } %>
                <th class="text-left">Наименование характеристики </th>
                <th class="text-left">Значение </th>
                <th width="30"></th>
            </tr>
        </thead>
        <tbody class="table__tbody table__tbody_specs" data-section="<%= section.order %>">
            <% params_data.forEach(function(item) { %>
                <%- include('line', {item:item}) %>
            <% }) %>
        </tbody>
    </table>
</div>
