<div class="content_top__data">
    <div class="filters">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label" for="search__box">Поиск</label>
                    <div class="input-group">
                        <input type="text" value="<%=qstr%>" name="search__box" class="form-control" placeholder="..." onkeyup="StandartizeList.fillSearch(this, event);">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <input class="switch-button" onchange="StandartizeList.checkDone(this, event);" name="show_done" <%-(showdone == 1 ? 'checked="checked"' : '')%> type="checkbox" /> — Отображать завершенные
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover table-sticky">
        
        <thead class="top_0 table__head"> 
            <tr>
                <% if (access.includes('standartizer:editList')) { %>
                <th width="30" class="text-center"></th>
                <% } %>
                <th data-sort="num" width="100" class="text-left">№ станции</th>
                <th class="text-left">Описание (Примечание)</th>
                <th data-sort="shipment_date" width="100" class="text-center">План. дата отгрузки</th>
                <th width="100" class="text-center">Фонд смен (плановый)</th>
                <th width="75" class="text-center">Фонд рабочих</th>
                <th width="75" class="text-center">Фонд чел/час</th>
                <th width="120" class="text-right">Итого ФОТ, руб.</th>
                <% if (access.includes('standartizer:calcList')) { %>
                <th width="30"></th>
                <% } %>
                <% if (access.includes('standartizer:copyList')) { %>
                <th width="30"></th>
                <% } %>
                <% if (access.includes('standartizer:editList')) { %>
                <th width="30"></th>
                <th width="30">Статус</th>
                <% } %>
            </tr>
        </thead>
        <tbody class="table__tbody">
            <% items.forEach(function(item){ %>
                <%- include('item', {item: item, plans: plans}) %>
            <% }) %>
        </tbody>
        <input type="hidden" name="sortVal" value="<%=sort[0]%>" />
        <input type="hidden" name="sortDir" value="<%=sort[1]%>" />
    </table>
</div>
<script>
    var sort = {
        val: '<%=sort[0]%>',
        dir: '<%=sort[1]%>'
    }

    $(function(){
        $('.tab.tab-active .table__head tr th').each(function(index, el) {
            var srt = $(el).data('sort');
            if (typeof srt != 'undefined') {
                $(el).attr('onclick','StandartizeList.changeSort(this);');
                $(el).addClass('cansort');
            }
        });
    });


    var StandartizeList = {
        deleteListitem(id) {
            DSH.deleteConfirm('Вы уверены?', 'Вы точно хотите удалить выбранный расчет?', 'Нет', 'Да, удалить!', function() {
                $.get('/standartizer/list/delete/'+id, function(data) {
                    if (data.ok === true) {
                        $('.tab-active .standartizer-list__item[data-id="'+id+'"]').remove();
                    }
                },'json');
            });
        },
        deletePlanitem(id) {
            DSH.deleteConfirm('Вы уверены?', 'Вы точно хотите удалить выбранный план?', 'Нет', 'Да, удалить!', function() {
                $.get('/standartizer/list/delete_plan/'+id, function(data) {
                    if (data.ok === true) {
                        $('.tab-active .standartizer-list__planitem[data-planid="'+id+'"]').remove();
                    }
                },'json');
            });
        },
        copyList(id) {
            $.get('/standartizer/list/copy/'+id, function() {
                swal({
                    title: "Отлично!",
                    text: "Копия расчета станции успешно создана!",
                    type: "success"
                }, function () {
                    //location.reload();
                    Tabs._updateCurrent();
                });
            },'json');
        },
        changeSort(th) {
            var srt = $(th).data('sort');
            if (sort.val == srt) {
                $('.tab.tab-active input[name="sortDir"]').val((sort.dir=='desc'?'asc':'desc'));
            } else {
                $('.tab.tab-active input[name="sortVal"]').val(srt);
                $('.tab.tab-active input[name="sortDir"]').val('desc');
            }
            StandartizeList.resort();
        },
        resort() {
            let sortval = $('.tab.tab-active input[name="sortVal"]').val()
            let sortdir = $('.tab.tab-active input[name="sortDir"]').val()
            let qstr = $('.tab.tab-active input[name="search__box"]').val()
            let showdone = ($('.tab.tab-active input[name="show_done"]').prop('checked') == true ? 1 : 0)
            let search_fields = {
                sort: sortval,
                dir: sortdir,
                qstr: qstr.toLowerCase(),
                showdone: showdone
            }
            Cookies.set('standartizer', JSON.stringify(search_fields))
            Tabs._updateCurrent('?sort='+sortval+'&dir='+sortdir+'&qstr='+qstr.toLowerCase()+'&showdone='+showdone)
            
        },
        fillSearch(th, e) {
            if (e.keyCode === 13) {
                StandartizeList.resort();
            }
        },
        changeState(th, id) {
            var checked = ($(th).prop('checked') == true ? 1 : 0);
            $.get('/standartizer/list/state/'+id+'/'+checked, function(data) {
                
            }, 'json'); 
        },
        checkDone(th, e) {
            StandartizeList.resort();
        },
        changePlanStatus(id) {
            DSH.deleteConfirm('Вы уверены?', 'Вы точно хотите утвердить выбранный план?', 'Нет', 'Да, утвердить!', function() {
                $.get('/standartizer/list/accept_plan/'+id, function(data) {
                    if (data.ok === true) {
                        Tabs.refreshTab(Tabs._currentTabId());
                    }
                },'json');
            });
        }
    }



</script>
